@model JobAppMgr.ViewModels.JobDetailsViewModel

<fieldset>
    <legend>JobDetailsViewModel</legend>
    
    <div class="display-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>
    
    <div class="display-alt-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreateDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreateDate)
        </div>
    </div>
    
    <div class="display-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Status)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Status)
        </div>
    </div>
    
    <div class="display-alt-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.ClosingDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ClosingDate)
        </div>
    </div>
    
    <div class="display-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Location)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Location)
        </div>
    </div>
    
    <div class="display-alt-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    
    <div class="display-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.KeySkills)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.KeySkills)
        </div>
    </div>
    
    <div class="display-alt-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.NiceToHaveSkills)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NiceToHaveSkills)
        </div>
    </div>
    
    <div class="display-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Benefits)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Benefits)
        </div>
    </div>
    
    <div class="display-alt-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Conditions)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Conditions)
        </div>
    </div>
    
    <div class=display-background>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.CompanyName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CompanyName)
        </div>
    </div>
    
    <div class="display-alt-background">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.AgencyName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AgencyName)
        </div>
    </div>

</fieldset>
