@{
    ViewBag.Title = "Companies: ";
}

@{
    object msg = string.Empty;
    TempData.TryGetValue("Msg", out msg);
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@if (!string.IsNullOrEmpty(msg as string))
{
    <h5>@msg</h5>
}

<div>
    @Html.Partial("CompanyListPartialDiv")
</div>

<div class="linkButton">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
